html, body{
    background: linear-gradient(180deg, rgba(51,135,214,1) 0%, rgba(47,46,65,1) 100%);
    height: 100%;
}


nav{
    display: flex;
    padding: 10px;
}

feedback{
    align-items: center;
}

select{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    color: #818181;
    align-items: center;
    border-style: hidden;
}

ul {
    list-style-type: none;
    height: 70px; 
}

main{
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin: 100px;    
}


.content{
    background-color: #EDEDED;
    padding: 30px;
    border-radius: 15px;
    color: #3385D2;
    margin: 30px;   
}

input{
    padding: 15px;
    border-radius: 5px;
    border-style: hidden;
    font-size: 15px;
    color: #C4C4C4;
}

button{
    background-color: #3385D2;
    border: 10px;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;   
}

button:hover{
    background-color: #5a95cc;
    cursor: pointer;
}

footer{
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: small;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
